server:
  port: 8082

spring:
  application:
    name: campaign-service

  datasource:
    url: jdbc:postgresql://localhost:5433/careforall_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: localhost
    port: 5672
    username: user       # <-- ADD THIS
    password: password   # <-- ADD THIS
